<?php echo $this->doctype(); ?>
<html lang="pt-Br">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <title><?php echo $this->pageTitle; ?></title>

        <link rel="stylesheet" type="text/css" href="extjs/lib/resources/css/ext-all.css"/>
        <!--[if IE]>
        <link rel="stylesheet" href="extjs/lib/resources/css/ext-ie.css" type="text/css" />
        <![endif]-->
        <link rel="stylesheet" type="text/css" href="extjs/lib/resources/css/ext-all-gray.css"/>
        <link rel="stylesheet" type="text/css" href="extjs/app/ux/uxStyle.css"/>
	    
	    <!-- Load the Ext and Extensible CSS -->
	    <link rel="stylesheet" type="text/css" href="extjs/resources/css/extensible-all.css" />
	        
    </head>

    <body>
        <div class="version"><?php echo $this->systemVersion; ?></div>
        <div id="loading-mask">
            <div id="loading">
                <div class="loading-indicator"></div>
                <div class="loading-text"></div>
            </div>
        </div>
    </body>

    <!--script type="text/javascript" charset="utf-8" src="jquery/lib/1.7.1.js"></script>
    <script type="text/javascript" charset="utf-8" src="jquery/plugins/custom.js"></script>
    <script type="text/javascript" charset="utf-8" src="jquery/lib/jquery.currency.js"></script>
    <script type="text/javascript" charset="utf-8" src="jquery/lib/jquery.maskedinput-1.3.min.js"></script-->
    <!--script type="text/javascript" charset="utf-8" src="extjs/lib/ext-all-debug-w-comments.js"></script-->
    <script type="text/javascript" charset="utf-8" src="extjs/lib/ext-all-dev.js"></script>
    <script type="text/javascript" src="extjs/lib/ext-lang-pt_BR.js"></script>
	
	<script type="text/javascript" src="extjs/app/renderer/comborenderer.js"></script>
	<script type="text/javascript" src="extjs/app/ux/Ext.ux.MessageBox.js"></script>
	<script type="text/javascript" src="extjs/app/ux/Ext.ux.Notification.js"></script>
	<script type="text/javascript" src="extjs/app/ux/Ext.ux.plugin.FormEnter.js"></script>
	
    <!-- Load the Ext and Extensible deployment files -->
    <script type="text/javascript" src="extjs/ux/extensible-all-debug.js"></script>

    <?php echo $this->headScript(); ?>

    <script type="text/javascript">
        Ext.onReady(function() {
            setTimeout(function(){
                Ext.get('loading-mask').fadeOut({
                    opacity: 0,
                    easing: 'easeIn',
                    duration: 500,
                    remove: true
                });
            }, 1500);
        });
    </script>

</html>